@font-face {
	font-family: 'Skrappa';
	src: url('./Skrappa.otf') format('OpenType')
}

@font-face {
	font-family: 'Monument Grotesk Mono';
	src: url('./MonumentGrotesk-Mono.otf') format('OpenType')
}
