$c-set-bg: #080A18;
$c-set-fg: #FFFFFF;

:root {
  --c-bg: #{$c-set-bg};
  --c-fg: #{$c-set-fg};
}

$c-bg: var(--c-bg);
$c-fg: var(--c-fg);

$mono: 'Monument Grotesk Mono';
$h1: 'Skrappa';

$main: 12px;
$title: 14.583vw;
$ease-out: cubic-bezier(.165,.84,.44,1);

@mixin mobile {
  @media (max-width: 900px) { @content; }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  background-color: $c-bg;
  color: $c-fg;

  a, button {
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: currentColor;
    background: none;
    border: none;
    padding: 0;
    outline: none;
  }


  .data {
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    color: #939393;
    font-family: $mono;
    text-transform: uppercase;

    @include mobile {
      line-height: 16px;
    }
  }

  .transition {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: #0C0F24;
    transform: scaleY(0);
    transform-origin: bottom;
  }

  .margin {
    margin-bottom: -4.6875vw;
  }

  header {
    position: fixed;
    top: 0;
    z-index: 65;
    width: 100%;
    font-size: $main;
    font-family: $mono;
    text-transform: uppercase;
    mix-blend-mode: difference;

    .flex-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        margin-top: 3.125vw;
        margin-left: 3.125vw;

        &:hover {
          opacity: 0.6;
        }

        @include mobile {
          margin-top: 20px;
          margin-left: 20px;
        }
      }

      ul {
        margin-top: 3.125vw;
        margin-right: 3.125vw;
        display: block;
        li {
          margin-left: 1.5vw;
          list-style: none;
          display: inline-block;
          &:hover {
            opacity: 0.6;
          }
        }
      }

    }
  }

  footer {
    width: 100%;
    font-size: $main;
    font-family: $mono;
    text-transform: uppercase;
    position: relative;
    padding-top: 20vw;
    padding-bottom: 6vw;

    @include mobile {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .footer-logo {
      position: absolute;
      width: 140px;
      left: 3.125vw;
    }

    ul {
      position: absolute;
      display: block;
      left: 31.5vw;
      line-height: 1.5;
      @include mobile {
        left: 200px;
      }

      li {
        list-style: none;
        display: block;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .star {
      position: absolute;
      left: 70vw;

      @include mobile {
        display: none;
        left: 20px;
      }
    }

    .pupil {
      position: absolute;
      left: 79vw;
      @include mobile {
        display: none;
      }
    }

    .cta {
      position: absolute;
      right: 3.125vw;
      @include mobile {
        display: none;
      }
    }
  }

  .menu-wrapper {
    position: fixed;
    font-size: $main;
    font-family: $mono;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #0C0F24;
    z-index: 60;
    display: none;
    opacity: 0;

    ul {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        margin: 3.2vw;
        list-style: none;
        display: block;
        overflow: hidden;

        a {
          transform: translateY(100%);
          display: block;
        }
      }
    }
  }

  .hero {
    position: relative;
    width: 100%;
    height: 100vh;

    &-img {
      position: absolute;
      z-index: 20;
      left: 36.4vw;
      top: 15.75vw;
      width: 8.5vw;
      height: 8.5vw;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @include mobile {
      height: calc(100vh - 50px);
    }

    .title-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      svg {
        overflow: visible;
        width: 54vw;
        fill: $c-fg;

        @include mobile {
          width: 85vw;

          .gods {
            display: block;
          }
        }
      }
    }

    &-title {
      font-size: $title;
      font-family: $h1;
      line-height: $title;

      opacity: 0;

      @include mobile {
        font-size: 50vw;
        line-height: 50vw;
      }
    }

    .hero01 {
      left: 13.5vw;
      top: 27vw;
      width: 230px;

      @include mobile {
        width: 130px;
        left: 50px;
        top: 150px;
      }
      &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 1px;
        background-color: white; 
        top: -2vw;
        left: 0;
      }
    }

    .hero02 {
      width: 230px;
      right: 37.5vw;
      bottom: 10vw;

      @include mobile {
        width: 180px;
        right: 50px;
        bottom: 110px;
      }
    }

    .hero03 {
      right: 29vw;
      bottom: 6vw;

      @include mobile {
        bottom: 50px;
        right: 50px;
      }
    }

    .hero04 {
      top: 15.5vw;
      right: 20vw;

      @include mobile {
        display: none;
      }
    }

    .hero05{
      top: 41vw;
      left: 13.5vw;
      span {
        display: block;
      }

      @include mobile {
        display: none;
      }

      .second {
        margin-top: 15vw;
      }
    }
  }

  .protagonist {
    position: relative;
    width: 100%;
    height: 120vh;

    @include mobile {
      height: 670px;
    }

    &-title {
      position: absolute;
      font-size: $title;
      font-family: $h1;
      line-height: $title;
      left: 17.34vw;
      top: 16vw;

      @include mobile {
        top: 150px;
        left: 50px;
        font-size: 24vw;
        line-height: 24vw;
      }

      span {
        display: inline-block;
      }

      .second {
        margin-left: 14vw;
        @include mobile {
          margin-left: 70px;
        }
      }
      .third {
        display: block;
        margin-left: 9.5vw;
        @include mobile {
          margin-left: 30px;
        }
      }
    }

    .protagonist01 {
      right: 29vw;
      bottom: 14.5vw;
      @include mobile {
        right: 50px;
        bottom: 50px;
      }
      span {
        display: block;
      }
    }

    .protagonist02 {
      width: 230px;
      left: 13vw;
      bottom: -3vw;

      @include mobile {
        left: 50px;
        bottom: 150px;
        width: 180px;
      }

      &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 1px;
        background-color: white; 
        top: -2vw;
        left: 0;
      }
    }
  }

  .objective {
    width: 100%;
    position: relative;
    height: 120vh;

    @include mobile {
      height: 500px;
    }

    &-title {
      position: absolute;
      font-size: $title;
      font-family: $h1;
      line-height: $title;
      text-align: right;
      right: 8vw;
      top: 16vw;

      .first {
        display: inline-block;
      }

      @include mobile {
        top: 50px;
        right: 50px;
        font-size: 24vw;
        line-height: 24vw;
      }

      .number {
        position: absolute;
        margin-left: 3vw;
        @include mobile {
          margin-left: 20px;
          display: none;
        }
      }

      .second {
        margin-right: 5vw;
        display: block;
        @include mobile {
          margin-right: 0px;
        }
      }
    }

    .objective01 {
      top: 30vw;
      left: -1vw;
      @include mobile {
        top: 300px;
        left: -10px;
      }
      span {
        display: block;
      }
    }

    .objective02 {
      top: 30vw;
      right: 14vw;
      @include mobile {
        top: 300px;
        right: 100px;
        display: none;
      }
      span {
        display: block;
      }
    }

    .objective03 {
      width: 230px;
      bottom: -3vw;
      right: 36vw;

      @include mobile {
        right: 50px;
        bottom: 100px;
      }
      &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 1px;
        background-color: white; 
        top: -2vw;
        left: 0;
      }
    }
  }

  .reality {
    width: 100%;
    position: relative;
    height: 120vh;

    @include mobile {
      height: 650px;
    }

    &-title {
      position: absolute;
      font-size: $title;
      font-family: $h1;
      line-height: $title;
      text-align: left;
      left: 8vw;
      top: 16vw;

      @include mobile {
        font-size: 24vw;
        line-height: 24vw;
        top: 100px;
        left: 50px;
      }

      .first {
        display: inline-block;
      }

      .second {
        margin-left: 27vw;
        @include mobile {
          margin-left: 100px;
        }
      }

      .third {
        margin-left: 9.5vw;
        @include mobile {
          margin-left: 50px;
        }
        display: block;
      }
    }
    .reality01 {
      top: 21vw;
      left: 60vw;
      @include mobile {
        top: 50px;
        left: 250px;
      }
      span {
        display: block;
      }
    }
    .reality02 {
      width: 340px;
      right: 17vw;
      bottom: -3vw;

      @include mobile {
        width: 280px;
        right: 50px;
        bottom: 75px;
      }
      &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 1px;
        background-color: white; 
        top: -2vw;
        left: 0;
      }
    }
  }

  .simulation {
    width: 100%;
    position: relative;
    height: 120vh;

    @include mobile {
      height: 600px;
    }

    &-title {
      display: flex;
      flex-direction: column;
      align-items:center;
      font-size: $title;
      font-family: $h1;
      line-height: $title;
      padding-top: 12vw;
      text-align: center;

      @include mobile {
        font-size: 24vw;
        line-height: 24vw;
        padding-top: 50px;
      }

      span {
        display: block;
      }

      .mono {
        font-family: $mono;
        font-size: $main;
        line-height: $main;
        padding-top: 3vw;
        padding-bottom: 2.3vw;

        @include mobile {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
    .simulation01 {
      width: 340px;
      bottom: -3vw;
      left: 26vw;

      @include mobile {
        width: 230px;
        left: 50px;
        bottom: 50px;
      }
      &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 1px;
        background-color: white; 
        top: -2vw;
        left: 0;
      }
    }
  }

  .products {
    width: 100%;
    position: relative;
    font-family: $mono;
    font-size: $main;
    color: #939393;
    text-transform: uppercase;

    @include mobile {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    .left {
      padding-left: 12.5vw;

      @include mobile {
        padding-left: 0;
      }
    }

    .bottom {
      margin-bottom: 13vw;
      @include mobile {
        margin-bottom: 0;
      }
    }

    .overlap {
      margin-top: -4vw;
      z-index: 2 !important;
      @include mobile {
        margin-top: 0;
      }
    }

    .closeLeft {
      padding-left: 4vw;
      @include mobile {
        padding-left: 0;
      }
    }

    .right {
      padding-left: 60vw;
      @include mobile {
        padding-left: 0;
      }
    }

    .closeRight {
      padding-left: 64vw;
      @include mobile {
        padding-left: 0;
      }
    }

    .middle {
      padding-left: 36vw;
      @include mobile {
        padding-left: 0;
      }
    }

    .product {
      width: 32vw;
      position: relative;
      z-index: 3;
      &:hover {
        cursor: pointer;

        img {
          transform: scale(1.1);
        }
      }

      @include mobile {
        width: 80vw;
        margin-bottom: 60px;
      }
      &-content {
        position: relative;
        width: 32vw;
        z-index: 3;
        @include mobile {
          width: 80vw;
        }
      }
      &-name {
        position: absolute;
      }
      &-quantity {
        position: absolute;
        right: 0;
        @include mobile {
          display: none;
        }
      }
      &-price {
        position: absolute;
        left: 25vw;

        @include mobile {
          left: 90%;
        }
      }
      &-img {
        width: 32vw;
        height: 32vw;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;

        @include mobile {
          width: 80vw;
          height: 80vw;
        }


        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 1s cubic-bezier(.165,.84,.44,1);
        }
      }
    }
  }
  .see-video {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
      width: 80vw;
      height: 80vh;
      border-radius: 10px;
    }
  }

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #080A18;
    z-index: 200;

    .loading {

      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      

      &-square1 {
        width: 5px;
        height: 5px;
        opacity: 0;
        background-color: $c-fg;
        animation: square1 2s $ease-out infinite 3s;
      }

      @keyframes square1 {
        0% {
          opacity: 0;
        }
        5% {
          opacity: 1;
        }
      }

      @keyframes square2 {
        5% {
          opacity: 0;
        }
        10% {
          opacity: 1;
        }
      }

      @keyframes square3 {
        10% {
          opacity: 0;
        }
        15% {
          opacity: 1;
        }
      }

      &-square2 {
        width: 5px;
        height: 5px;
        margin-left: 15px;
        background-color: $c-fg;
        opacity: 0;
        animation: square2 2s $ease-out infinite 3s;
      }

      &-square3 {
        width: 5px;
        height: 5px;
        opacity: 0;
        margin-left: 15px;
        animation: square3 2s $ease-out infinite 3s;
        background-color: $c-fg;
      }
    }
  }
}

/*! locomotive-scroll v4.1.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }

.gl-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: -1;
}

.gl-front {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 999;
}